
body {
	font-family: 'Open Sans', sans-serif;
}

#light-green {
	background-color: #6cb644;
}

.white-color {
	color: #fff;
}

.bg-navigation {
    -webkit-box-shadow: 0px 2px 9px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 9px -4px rgba(0,0,0,1);
	box-shadow: 0px 2px 9px -4px rgba(0,0,0,1);
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4px;
}

.fa-linkedin, .fa-twitter, .fa-facebook, .fa-instagram {
	color: #5e9242;
}

#soft-dev-stud {
	padding-top: 70px;	
	padding-bottom: 60px;	
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
}

#granting-wishes { 
	font-size: 50px;
	color: #fff;
	padding-bottom: 50px;
	font-weight: 300;
}

#skillfully-grant {
	font-weight: 800;
	font-size: 50px;
	padding: 70px 0 50px 0;
	color: #6cb644;
	text-transform: uppercase;
}

.overlap-container {
	position: relative;
}

.height-50 {
	height: 50vh;
}

.feature-box {
	height: 40%;
	margin-top: 10px;
} 

.center-box {
	height: 50%;
	margin: calc( (50vh - 50%) / 2) auto;

}

.overlap {
	position: absolute;
 	top: 1005px;
 	left: 465px;
}

#design-kits {
	text-transform: uppercase;
	color: #fff;
	font-size: 50px;
	font-weight: 800;
	padding-top: 70px;
	padding-bottom: 50px;
}

#more-design-kits {
	color: #6cb644;
	text-decoration: underline;
	text-transform: uppercase;
	border-radius: 12px;
}

.relative {
	position:relative; 
	width:400px;
}

.absolute-text { 
	position:absolute; 
	font-size:30px; 
	font-weight: 400;
	padding:10px 20px; 
	width:100%; 
	text-align:center;
}

.absolute-text-bottom { 
	position:absolute;
	bottom: 0px; 
	font-size:25px; 
	font-weight: 100;
	padding:10px 20px; 
	width:100%; 
	text-align:center;	
}

.absolute-text-top { 
	position:absolute;
	top: 385px; 
	font-size:25px;
	font-weight: 100;
	padding:10px 20px; 
	width:100%; 
	text-align:center;	
}

.bold-font {
	font-weight: 700;
}


#write-blogs {
	text-transform: uppercase;
	color: #fff;
	font-size: 50px;
	font-weight: 800;
	padding-top: 90px;
	padding-bottom: 50px;
}
  
#media-padding {
	padding-top: 30px;
}

#blog_side_image {
	
}

.white-background {
	background-color: white;
	height: 128px;	
}


.more-blog-posts {
	color: #6cb644;
	text-decoration: underline;
	text-transform: uppercase;
	border-radius: 12px;
	margin-top: 30px;
}

#explore-products {
	text-transform: uppercase;
	color: #fff;
	font-size: 35px;
	font-weight: 800;
	padding-top: 90px;
	padding-bottom: 50px;
}

.slide-top {
	margin-top: -30px;
}

.light-blue {
background-color: #009ea0;
}

span.contact-us {   
    border:3px solid white;
    color: white;
    display:inline-block;
    border-radius: 5px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 24px;
	font-weight: 800;
}

.btn.outline {
	background: #009ea0;
	padding: 12px 22px;
}

.btn-primary.outline {
	border:3px solid white;
	color: white;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}

.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

#make-a-wish {
	text-transform: uppercase;
	color: #fff;
	font-size: 50px;
	font-weight: 800;
	padding-top: 70px;
	padding-bottom: 20px;
}

#select-bottom {
	margin-bottom: 10px;
	background-color: #009ea0;
	color: #fff;
	font-weight: bold;

	
}

.selectwidthauto {
	width:auto !important;
}

